<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size-md="6" size-lg="4" size-xs="12" align-self-center>

        <div class="form ion-padding">
          <div class="ion-text-center">
            <h2>Réinitialiser</h2>
            <p>Entrez votre adresse e-mail pour recevoir un lien de réinitialisation</p>
          </div>

          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input placeholder="Adresse e-mail" type="email"></ion-input>
          </ion-item>

          <ion-button expand="block" color="primary">Envoyer le lien</ion-button>

          <div class="links">
            <a routerLink="/login">Retour à la connexion</a>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
